{{ define "navbar" }}
<nav class="navbar is-danger is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-semibold" href="/">
      Pemetaan Spasial Sulawesi Barat
    </a>

    <a role="button" class="navbar-burger" aria-label="menu"
       aria-expanded="false" data-target="navbarHome">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarHome" class="navbar-menu">
    <div class="navbar-end">
      {{ if .isLoggedIn }}
      <div class="navbar-item">
        <a href="/admin/desa"
           class="has-text-weight-semibold has-text-white">
          {{ .name }}
        </a>
      </div>
      <div class="navbar-item">
        <a href="/logout" class="button is-warning">
          Logout
        </a>
      </div>
      {{ else }}
      <div class="navbar-item">
        <a href="/login" class="button is-info">
          Login
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</nav>
{{ end }}
