{{ define "admin/map_list" }}

<section class="section">
  <div class="container">
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>Kode</th>
          <th>Judul</th>
          <th>Aktif</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        {{ range .maps }}
        <tr>
          <td>{{ .Code }}</td>
          <td>{{ .Title }}</td>
          <td>
            {{ if .IsActive }}
              <span class="tag is-success">Aktif</span>
            {{ else }}
              <span class="tag is-light">Nonaktif</span>
            {{ end }}
          </td>
          <td>
            <a href="/admin/maps/{{ .ID.Hex }}/edit"
               class="button is-small is-info">
              Edit
            </a>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>

  </div>
</section>

{{ end }}
